<div>
  <form>
    <h1>Join!</h1>
    <div class="input-group">
      <input class="form-control" type="text" name="userName" placeholder="Full Name">
    </div>
    <div class="input-group">
      <input class="form-control" type="text" name="userEmail" placeholder="Email">
    </div>
    <input type="submit">
  </form>
</div>
